body {
    background-image: url("images/jeju-island.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    font-size: 60px;
    text-decoration: none;
    text-align: left;
    color: snow;
}

h2 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 30px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 20px;
    padding: 0;
    position: absolute;
    top: 25px;
    right: 0;
}

li {
    float: right;
}

li a {
    display: inline-block;
    text-decoration: none;
    padding: 25px;
    color: snow;
    font-size: 25px;
}

li a:visited {
    color: snow;
}

li a:hover {
    color: silver;
}

#article {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    -moz-column-gap: 50px;
    -webkit-column-gap: 50px;
    -moz-column-rule: 3px outset black;
    -webkit-column-rule: 3px outset black;
    margin-top: 80px;
}

#article img {
    width: 350px;
    height: 250px;
}

#article p {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}

#article span {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 20px;
    margin-left: 50px;
}

#architecture h2 {
    margin-top: 0;
}

#architecture img {
    margin-top: 53px;
    margin-left: 30px;
}

#architecture span {
    margin-left: 80px;
}

#entertainment img {
    margin-top: 35px;
    margin-left: 30px;
}

#entertainment span {
    margin-left: 100px;
}

#cuisine img {
    margin-left: 30px;
}

#cuisine span {
    margin-left: 100px;
}